<div class="intro">
    <h1> Edit Your Topic Post </h1>
</div>

<div class="form">
<form action="/topics/{{this.id}}?_method=put" method="post">

<label>Title</label>
    <input type= "text" value="{{this.title}}" name="title" placeholder="What topic does this cover?"/> </br></br>
 <label>Catagory</label> 
     <input type= "text" value="{{this.catagory}}" name="catagory" placeholder="What catagory does it fall in?"> </br></br>

  <label>Summary</label>
      <input type= "text" value="{{this.summary}}" name="summary" placeholder="Add a summary of the topic"></br></br>

  <label>Resources</label>
      <input type= "text" value="{{this.resources}}" name="resources" placeholder="Resources for reference"></br></br>

  <label>Links </label>
      <input type= "text" value="{{this.links}}" name="links" placeholder="Links to resource"></br></br>

  <label>Terms</label>
      <input type= "text" value="{{this.terms}}" name="terms" placeholder="What terms are important"></br></br>

 <label>Notes</label>
     <input type= "text" value="{{this.notes}}" name="notes" placeholder="Add notes here.."></br></br>

<input type = "submit" value = "Update">
</form>
</div>

<nav> 
<a href="/topics" class="cancel icon">Cancel</a>
<a href="/" class="home icon">Home</a>
<a href="/topics" class="topic icon">Topics</a>
<a href="/games" class="game icon">Games</a>
</nav>