{{!-- LearnTopic
title of the topic, summery of what it is, resource links, concepts,
add to topics function
delete topic funtion --}}
{{!-- // Terms: --}}

<div class = "test container">
<h1>Digging deeper into {{this.title}}... </h1>
<h4> What is {{this.summary}}?</h4>
{{this.catagory}}
{{this.resources}}
{{this.links}}
{{this.terms}}
{{this.notes}}

<div>
    <form action="/topics/{{this.id}}?_method=delete" method="post">
    <input type="submit" value="Remove">
    </form>
</div>
</div>

<nav> 
<a href="/" class="home icon">Home</a>
<a href="/topics/new" class="new topic icon">Add a New Topic</a>
<a href="/topics/edit/{{this.id}}"class="edit topic icon">Edit this Topic</a>

<a href="/games" class="game icon">Games</a>
</nav>
</div>