{{!-- go to express intro lesson for routing details and for datapassing
https://git.generalassemb.ly/ga-wdi-lessons/express-intro --}}


<div class="intro">
<h1> Edit Your Game Post </h1>
</div>

<div class="form">
<form action="/games/{{this.id}}?_method=put" method="post"> </br></br>
    <label >Game Name</label>
    <input type= "text" value="{{this.name}}" name="name" placeholder="Add Name of the Game.."/></br></br>
    <label>Category</label> 
    <input type= "text" value="{{this.category}}" name="category" placeholder="select category.."/></br></br>
    <label>Topic</label>
    <input type= "text" value="{{this.topic}}" name="topic" placeholder="what is the topic.."/></br></br>
    <label>URL</label>
    <input type= "text" value="{{this.url}}" name="url" placeholder="Place URL in quotes here"/></br></br>
    {{!-- <label>screenshot </label>
    <input type= "text" value="{{this.screenshot}}" name="screenshot" placeholder="fake img"/> --}}
<input type = "submit" value = "Update"/>
</form>
</div>

<nav>
<a href="/games" class="cancel icon">Cancel</a>
<a href="/" class="home icon">Home</a>
<a href="/games/new" class="new game icon">Add a New Game</a>
<a href="/topics" class="topic icon">Topic</a>
</nav>