<div class = "test container">
    <div class = "content">
        <h1>What can you learn from {{this.name}} </h1>
        <h4> It covers {{this.topic}} and falls 
        into the category of a {{this.category}}</h4>
                <div class= "img info"> 
                    {{!-- <img src="{{this.screenshot}}" alt="{{this.name}}"></img> --}}
                    <iframe src="{{this.url}}" height="200" width="300"></iframe>
                </div>
    </div>
</div>